.additional-products {
  display: flex;
  flex-direction: column;
  .breakpoint();
  padding-top: 20px;

  .additional-products__present {
    position: relative;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 289px;
    margin-top: 39px;
    margin-bottom: 35px;
    padding-top: 150px;

    background-color: @green--light;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 280px 289px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }

    &::before {
      content: "";

      position: absolute;
      top: 65px;
      left: 113px;

      width: 55px;
      height: 60px;

      background-image: url("../img/gift.svg");
      background-repeat: no-repeat;
    }
  }

  .additional-products__description {
    width: 170px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;

    .font-size(16px, 20px, 400, @text-color-secondary);
    text-align: center;
  }
}

.additional-products__title {
  position: relative;

  margin-top: 8px;
  margin-bottom: 34px;

  font-family: @font-secondary;
  .font-size(24px, 24px, 400, @text-color-primary);

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 3px;

    background-color: @green--light;
  }

  span {
    padding-right: 22px;

    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .additional-products {
    width: auto;
    margin: 0;
    padding: 0;

    .additional-products__list {
      margin-top: 46px;
    }

    .additional-products__present {
      width: 708px;
      height: 200px;
      margin-top: 69px;
      margin-bottom: 76px;
      padding-top: 0;
      padding-left: 150px;

      background-color: @green--light;
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      background-size: 708px 200px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }


      &::before {
        left: 91px;
      }
    }

    .additional-products__description {
      margin-right: 114px;
      margin-bottom: 68px;

      .font-size(16px, 20px, 400, @text-color-secondary);
      text-align: start;
    }
  }

  .additional-products__title {
    margin-top: 66px;
    margin-left: 37px;

    .font-size(36px, 36px, 400, @text-color-primary);

    &::before {
      content: "";

      position: absolute;
      top: 22px;
      right: 710px;

      width: 100vw;
      height: 3px;

      background-color: @green--light;
    }

    &::after {
      top: 22px;
    }

    span {
      padding-right: 37px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .additional-products {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;

    .additional-products__title {
      width: 100%;
      margin-top: 75px;
      margin-left: 0;

      &::before {
        right: 1261px;
      }
    }

    .additional-products__list {
      margin-top: 46px;
    }

    .additional-products__present {
      width: 245px;
      height: 289px;
      margin-top: 46px;
      margin-left: 80px;
      padding-top: 150px;
      padding-left: 0;

      background-color: @green--light;
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      background-size: 245px 289px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
      }

      &::before {
        left: 96px;
      }
    }

    .additional-products__description {
      margin-right: auto;
      margin-bottom: 42px;

      text-align: center;
    }
  }
}
