.additional-products {
  .additional-products__title {
    font-family: @font-secondary;
    .font-size(24px, 24px, 400, @text-color-primary);
  }

  .additional-products__present {
    .font-size(16px, 20px, 400, @text-color-secondary);

    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}
