.advantages {
  display: flex;
  flex-direction: column;
  .breakpoint();

  .advantages__title {
    margin-top: 17px;
    font-family: @font-secondary;
    .font-size(36px, 60px, 400, @text-color-primary);
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    .list-style();
    margin-top: -25px;
    margin-bottom: 45px;
  }

  .advantages__item {
    position: relative;

    margin-top: 26px;
    margin-left: 80px;

    .font-size(14px, 18px, 400, @text-color-text);

    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -80px;

      width: 60px;
      height: 60px;

      background-color: @green--light;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
    }

    &--nutritious {
      &::before {
        background-image: url("../img/advantage-leaf@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/advantage-leaf@2x.png");
        }
      }
    }

    &--powder {
      &::before {
        background-image: url("../img/advantage-powder@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/advantage-powder@2x.png");
        }
      }
    }

    &--food {
      &::before {
        background-image: url("../img/advantage-dining@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/advantage-dining@2x.png");
        }
      }
    }

    &--time {
      &::before {
        background-image: url("../img/advantage-clock@1x.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/advantage-clock@2x.png");
        }
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-top: 27px;

    .advantages__title {
      .font-size(60px, 60px, 400, @text-color-primary);
    }

    .advantages__list {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: -64px;
      margin-left: -60px;

      counter-reset: num;
    }

    .advantages__item {
      box-sizing: border-box;
      width: 324px;
      min-height: 230px;
      margin-top: 87px;
      margin-left: 60px;
      padding-top: 112px;
      padding-right: 70px;

      .font-size(16px, 24px, 400, @text-color-text);

      &::before {
        top: 0;
        left: 0;

        width: 80px;
        height: 80px;
      }

      &::after {
        content: counter(num);
        counter-increment: num;

        position: absolute;
        top: -40px;
        left: 112px;

        z-index: -1;

        font-family: @font-secondary;
        .font-size(281px, 281px, 400, @gray-242);
      }

      &--nutritious {
        &::after {
          left: 118px;
        }
      }
    }
  }
}

@media (min-width: @dekstop-width) {
  .advantages {
    margin-top: 0;
    padding-top: 23px;

    .advantages__title {
      margin-top: 50px;
      margin-bottom: 49px;
    }

    .advantages__list {
      margin-bottom: 0;
      margin-left: -80px;
    }

    .advantages__item {
      width: 245px;
      margin-left: 80px;
      padding-right: 0;
    }
  }
}
