.contacts {
  display: flex;
  flex-direction: column;

  .contacts__wrapper {
    display: flex;
    .breakpoint();
  }

  .contacts__title {
    font-family: @font-secondary;
    .font-size(16px, 20px, 400, @text-color-primary, uppercase);
  }

  .contacts__address {
    .font-size(14px, 20px, 400, @text-color-text);
  }

  .contacts__image {
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    .contacts__title {
      .font-size(20px, 25px, 400, @text-color-primary, uppercase);
    }

    .contacts__address {
      .font-size(16px, 20px, 400, @text-color-text);
    }
  }
}

// @media (min-width: @dekstop-width) {
//   .contacts {
//     .contacts__title {

//     }

//     .contacts__address {

//     }
//   }
// }
