.extra-products {
  .extra-products__title {
    display: flex;
    font-family: @font-secondary;
    .font-size(16px, 16px, 400, @text-color-primary, uppercase);
  }

  .extra-products__field {
    .font-size(14px, 14px, 400, @text-color-text);
  }

  .extra-products__value {
    .font-size(14px, 14px, 400, @text-color-text);
  }
}

@media (min-width: @tablet-width) {
  .extra-products {
    .extra-products__table {
      tbody {
        display: flex;
      }
    }

    .extra-products__title {
      .font-size(20px, 20px, 400, @text-color-primary, uppercase);
    }

    .extra-products__field {
      display: inline-flex;

      .font-size(16px, 20px, 400, @text-color-text);
    }

    .extra-products__value {
      display: inline-flex;

      .font-size(16px, 20px, 400, @text-color-text);
    }
  }
}

@media (min-width: @dekstop-width) {
  .extra-products {
    display: flex;
  }
}
