.main-nav {
  display: none;

  &--open {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 450px;
    margin: 0;
  }
}

@media (min-width: @dekstop-width) {
  .main-nav {
    width: 500px;
  }
}
