.page-header {
  .page-header__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 150px;
    height: 40px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    .page-header__wrapper {
      flex-direction: row;
      justify-content: space-between;
      width: 708px;
    }

    .page-header__logo {
      width: 173px;
      height: 58px;
      margin: 0;
    }
  }
}

@media (min-width: @dekstop-width) {
  .page-header {
    .page-header__wrapper {
      width: 1220px;
    }

    .page-header__logo {
      width: 202px;
      height: 59px;
    }
  }
}
