.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;

    border-bottom: 1px solid @gray-230;
  }

  .page-header__logo {
    &[href] {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .page-header__logo-image {
    width: 190px;
    height: 38px;
  }

  .page-header__toggle {
    width: 25px;
    height: 25px;
    margin-top: 6px;

    background-color: @bg-color-secondary;
    background-image: url("../img/plus-mobile.svg");
    background-repeat: no-repeat;
    border: none;

    transform: rotate(45deg);

    cursor: pointer;

    &--no-js {
      display: none;
    }

    &--open {
      width: 24px;
      height: 18px;
      margin-top: 10px;

      background-image: url("../img/mobile-menu.svg");

      transform: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    .breakpoint();
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    .page-header__wrapper {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;

      border: none;
    }

    .page-header__logo {
      margin: 0;
    }

    .page-header__logo-image {
      width: 173px;
      height: 58px;
    }

    .page-header__toggle {
      display: none;
    }
  }
}

@media (min-width: @dekstop-width) {
  .page-header {
    margin-top: 54px;

    .page-header__main-nav {
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-left: auto;
      }
    }

    &--index {
      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        left: 50%;
        z-index: -1;

        height: 696px;

        background-color: @green-dark;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 720px 696px;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }

    .page-header__logo {
      width: 202px;
      height: 59px;
    }

    .page-header__logo-image {
      width: 202px;
      height: 59px;
    }
  }
}
