.page-catalog {
  display: flex;
  flex-direction: column;

  .page-catalog__title {
    align-self: center;
    margin-top: 15px;
    margin-bottom: 28px;
    margin-left: -23px;
  }
}

// @media (min-width: @tablet-width) {

// }

// @media (min-width: @dekstop-width) {
//   .page-catalog {

//   }
// }
