.program {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .container-mobile();

  font-family: @font-secondary;

  // background-color: #5cd315;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  .program__title {
    .font-size(36px, 36px, 400, @text-color-secondary);
  }

  .program__description {
    .font-size(14px, 14px, 400, @text-color-secondary, uppercase);
  }

  .program__link {
    .button();
  }
}

@media (min-width: @tablet-width) {
  .program {
    .container-tablet();

    background-image: none;

    .program__title {
      order: -1;
      .font-size(60px, 60px, 400, @text-color-primary);
    }

    .program__description {
      order: -1;
      .font-size(20px, 20px, 400, @text-color-primary);
    }

    .program__link {
      order: -1;
      .font-size(20px, 20px, 400, @text-color-secondary, uppercase);
    }
  }
}

@media (min-width: @dekstop-width) {
  .program {
    .container-dekstop();
  }
}
