.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  .breakpoint();

  font-family: @font-secondary;

  // background-color: #5cd315;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  .program__title {
    text-align: center;
    .font-size(36px, 36px, 400, @text-color-secondary);
  }

  .program__description {
    .font-size(14px, 14px, 400, @text-color-secondary, uppercase);
  }

  .program__link {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .program {
    background-image: none;

    .program__title {
      order: -1;
      .font-size(60px, 60px, 400, @text-color-primary);
    }

    .program__description {
      order: -1;
      .font-size(20px, 20px, 400, @text-color-primary);
    }

    .program__link {
      z-index: 2;
      order: -1;

      width: auto;

      .font-size(20px, 20px, 400, @text-color-secondary, uppercase);
    }

    .program__image {
      margin-top: -40px;
    }
  }
}

// @media (min-width: @dekstop-width) {
//   .program {

//   }
// }
