.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  .breakpoint();

  font-family: @font-secondary;

  // background-color: #5cd315;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  .program__title {
    width: 280px;
    margin-top: 27px;
    margin-bottom: 15px;

    line-height: 36px;
    color: @text-color-secondary;
    text-align: center;
  }

  .program__description {
    margin-top: 10px;
    margin-bottom: 28px;

    .font-size(14px, 14px, 400, @text-color-secondary, uppercase);
  }

  .program__image {
    display: block;
  }

  .program__link {
    width: 100%;
    margin-top: 3px;
    padding-top: 11px;
    padding-bottom: 11px;

    .font-size(14px, 18px, 400, @text-color-secondary, uppercase);
  }
}

@media (min-width: @tablet-width) {
  .program {
    align-items: flex-start;

    background-image: none;

    .program__title {
      order: -1;

      margin-top: 50px;
      margin-left: 87px;

      .font-size(60px, 60px, 400, @text-color-primary);
      text-align: unset;
    }

    .program__description {
      order: -1;

      margin-top: 26px;
      margin-left: 88px;

      .font-size(20px, 20px, 400, @text-color-primary, uppercase);
    }

    .program__image {
      width: 709px;
      height: 609px;
      margin-top: -80px;
    }

    .program__link {
      z-index: 2;
      order: -1;

      width: auto;
      margin-top: 20px;
      margin-left: 90px;
      padding-top: 16px;
      padding-right: 29px;
      padding-bottom: 16px;
      padding-left: 24px;

      .font-size(20px, 20px, 400, @text-color-secondary, uppercase);
    }
  }
}

@media (min-width: @dekstop-width) {
  .program {
    position: relative;

    min-height: 400px;

    .program__image {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
