.site-list {
  display: flex;
  flex-direction: column;

  font-family: @font-secondary;
  .list-style();

  .site-list__item {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;

    border-bottom: 1px solid @gray-230;
  }

  .site-list__link {
    padding-top: 22px;
    padding-bottom: 23px;

    .font-size(20px, 20px, 500, @text-color-primary, uppercase);
    text-decoration: none;

    &:hover {
      color: @black-opacity-60;
    }

    &:active {
      color: @black-opacity-30;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        top: 50px;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: @green--light;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .site-list__item {
      border: none;
      padding-right: 0;
      padding-left: 0;
    }

    .site-list__link {
      padding-top: 18px;

      .font-size(18px, 25px, 400, @text-color-primary, uppercase);
    }
  }
}

@media (min-width: @dekstop-width) {
  .site-list {
    .site-list__link {
      padding-top: 20px;

      .font-size(20px, 25px, 400, @text-color-primary, uppercase);

      &--active {
        &::after {
          top: 52px;
        }
      }
    }

    &--index {
      .site-list__link {
        color: @text-color-secondary;

        &:hover {
          color: @white-opacity-60;
        }

        &:active {
          color: @white-opacity-30;
        }

        &--active {
          &::after {
            background-color: @white;
          }
        }
      }
    }
  }
}
