.social {
  box-sizing: border-box;
  width: 100%;
  padding-top: 24px;
  padding-right: 82px;
  padding-bottom: 16px;
  padding-left: 73px;

  border-top: 1px solid @gray-217;
  border-bottom: 1px solid @gray-217;

  .social__list {
    display: flex;
    justify-content: space-between;

    .list-style();
  }

  .social__link {
    &:hover {
      .social__icon {
        .st0 {
          fill: @green--light;
        }
      }
    }

    &:active {
      .social__icon {
        opacity: 0.3;
      }
    }
  }
}
