.weight-program {
  background-color: @gray--lighter;

  .weight-program__title {
    font-family: @secondary-font;
    .font-size(24px, 37px, 400, @black, uppercase);
  }

  .weight-program__description {
    .font-size(14px, 18px, 400, @gray--light);
  }

  .weight-program__link {
    font-family: @secondary-font;
    .font-size(16px, 16px, 400, @black, uppercase);
    text-decoration: none;
  }
}
