.font-size(
  @size: 16px,
  @line: 16px,
  @weight: 400,
  @color: @text-color-primary,
  @transform: none) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
  color: @color;
  text-transform: @transform;
}

.list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button(@bg-color: @btn-bg-color-primary) {
  font-family: @font-secondary;
  .font-size(16px, 20px, 400, @text-color-secondary, uppercase);

  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  background-color: @bg-color;
  border: none;

  cursor: pointer;
}

.container-mobile {
  width: @container-mobile-width;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.container-tablet {
  width: @container-tablet-width;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.container-dekstop {
  width: @container-dekstop-width;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}
