.font-size(
  @size: 16px,
  @line: 16px,
  @weight: 400,
  @color: #000000,
  @transform: none) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
  color: @color;
  text-transform: @transform;
}

.button(@bg-color: #68b738) {
  text-decoration: none;

  background-color: @bg-color;
}
