.font-size(
  @size: 16px,
  @line: 16px,
  @weight: 400,
  @color: #000000,
  @transform: none) {
  font-size: @size;
  line-height: @line;
  font-weight: @weight;
  color: @color;
  text-transform: @transform;
}

.list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button(@bg-color: @green--light) {
  font-family: @secondary-font;
  .font-size(16px, 20px, 400, @white, uppercase);
  text-decoration: none;

  background-color: @bg-color;
}
