// Fonts
@font-deafult: "Arial", "Helvetica", "Nimbus Sans", sans-serif;
@font-secondary: "Oswald", "Arial", "Helvetica", "Nimbus Sans", sans-serif;
// Colors
@white: #ffffff;
@black: #111111;
@gray--lighter: #f2f2f2;
@gray--light: #444444;
@green--light: #68b738;
// Text
@text-color-primary: @black;
@text-color-secondary: @white;
@text-color-text: @gray--light;
// BG - btn
@btn-bg-color-primary: @green--light;
@btn-bg-color-secondary: @gray--lighter;
// BG
@bg-color-primary: @gray--lighter;
@bg-color-secondary: @white;
// MEDIA WIDTH
@mobile-width: 320px;
@tablet-width: 768px;
@dekstop-width: 1300px;
// CONTAINER WIDTH
@container-mobile-width: 280px;
@container-tablet-width: 708px;
@container-dekstop-width: 1220px;
