// Fonts
@font-deafult: "Arial", "Helvetica", "Nimbus Sans", sans-serif;
@font-secondary: "Oswald", "Arial", "Helvetica", "Nimbus Sans", sans-serif;
// Colors
@white: #ffffff;
@black: #111111;
@gray--lighter: #f2f2f2;
@gray--light: #444444;
@green--light: #68b738;
// Text
@color-primary: @black;
@color-secondary: @white;
@color-text: @gray--light;
// BG - btn
@bg-color-btn-primary: @green--light;
@bg-color-btn-secondary: @gray--lighter;
// BG
@bg-color-primary: @gray--lighter;
@bg-color-secondary: @white;
